<div class="col-md-7">
    <h1>List of employees</h1>
    <div *ngIf="!employees">
        Loading...
    </div>
    <div *ngIf="employees">
        <div *ngIf="employees.length == 0">
            No employees
        </div>
        <div *ngIf="employees.length > 0">
            <div class="filter">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Filter by first name or last name" />
                    <select class="form-control" [(ngModel)]="filterDepartmentId">
                        <option value="">All departments</option>
                        <option value="{{ department.id }}" *ngFor="let department of departments">{{ department.name }}</option>
                    </select>
                </div>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" [class.active]="employeeIsEditing(employee)" *ngFor="let employee of getFilteredEmployees()">
                        <button class="btn btn-danger btn-xs pull-right" (click)="deleteEmployee(employee)">Delete</button>
                        <button class="btn btn-primary btn-xs pull-right" (click)="setEditingEmployee(employee)">Edit</button>
                        {{ employee.firstName }} {{ employee.lastName}}
                        <small>{{ employee.title}} at {{ employee.department.name }}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-md-offset-1">
    <div *ngIf="departments">
        <div *ngIf="departments.length == 0">
            Please add a department
        </div>
        <div *ngIf="departments.length > 0">
            <ee-employee-editor [departments]="departments" [employee]="editingEmployee" (onCancel)="cancelEditingEmployee()" (onSave)="saveEditingEmployee($event)"></ee-employee-editor>
        </div>
    </div>
</div>