.filter
{
    margin: 25px 0;
}

.filter .form-control
{
    width: 49%;
    display: inline-block;
}

.filter .form-control:last-child
{
    float: right;
}

.list-group .btn-xs
{
    margin-left: 5px;
}

.list-group small
{
    color: #777;
    margin-left: 7px;
}

.list-group .active small
{
    color: #e4e4e4;
}