<h1>{{ employee ? 'Edit' : 'Create' }} employee</h1>
<div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" />
</div>
<div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" />
</div>
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="title" />
</div>
<div class="form-group">
    <label for="department">Department</label>
    <select class="form-control" id="department" [(ngModel)]="departmentId">
        <option value="{{ department.id }}" *ngFor="let department of departments">{{ department.name }}</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-default" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>